/* -------------------------------------------------------------- */

/* All bib item lists are split up into...

    .biblist
      .biblist-section-header
      .biblist-section
        .biblist-block-header
        .biblist-block

*/

/* For bib item lists displayed as a table,
   you might want to put a border around each block... */

.biblist-block {

	padding: 2px 2px 20px 2px;

	font:11px/20px verdana, arial, helvetica, sans-serif;
}

/* -------------------------------------------------------------- */

/* For bib item lists displayed as (ul) lists */

li.biblist-item {
	list-style-type: square;
	padding-bottom: 7px;
}

/* -------------------------------------------------------------- */

/* For bib item lists displayed as tables */

/* Alternate rows of the table */
tr.biblist-row-alt1 {
	background-color: #fff;
}
tr.biblist-row-alt2 {
	background-color: #eee;
}

tr.biblist-row-alt2 a:hover {background-color:#fff;}

/* Table cell containing a bullet */
/*td.biblist-bullet {
	vertical-align: top;
	width: 18px;
	background-image: url(/~dxp/images/bullet.gif);
	background-position: 3px 3px;
	background-repeat: no-repeat;
	border-bottom: solid 2px #ffffff;
}*/
td.biblist-bullet {
	display:none;
}

/* Table cell containing a counter */
td.biblist-count {
	//	display:none;
	text-align: center;
	vertical-align: top;
	padding: 3px;
	border-bottom: solid 2px #ffffff;
	font-weight: 900;	
}

/*td.biblist-count {
	display:none;
}*/

/* Table cell containing bib item */
td.biblist-item {
	vertical-align: top;
	padding: 3px;
	border-bottom: solid 2px #ffffff;
	border-left: solid 2px #fff;
}

.biblist-section {
	padding-bottom:10px;
}

/* -------------------------------------------------------------- */

/* Box containing detailed info on a pub item */

.bibbox {
	font:11px/20px verdana, arial, helvetica, sans-serif;
	border:none;
	padding: 2px 2px 0px 2px;

}
.bibbox tr.bibbox-row-alt1 {
	background-color:#eee;

}
.bibbox tr.bibbox-row-alt2 {
	background-color:#fff;

}
.bibbox td.bibbox-td {
	padding:10px;
	vertical-align:top;


}

/* -------------------------------------------------------------- */

/* Individual components of each bib item description
   Use "display:block;" to put the component on it's own line
   Use "display:none;" to hide the component */


.bib-key { display:none; }
.bib-auth { display:inline; }
.bib-title { display:inline; font-weight:bold; }
.bib-src { display:inline; }
.bib-date { display:inline; } /* date = month + year */
.bib-month { }
.bib-year { }

.bib-files { }



.bibbox .bib-files { display:none; }
.bibbox .bib-key { display:none; }
.bibbox .bib-auth { 
	display:block; 
	font-weight:bold;
	margin:0px 0px 20px 0px;
}
.bibbox .bib-title { 
  margin:0px 0px 55px 0px;
  font-size:24px;
  line-height:24px;
  font-weight:900;
  color:#ccc;

}
.bibbox .bib-src { 
	display:block;   
	margin:20px 0px 0px 0px;
}

.bibbox .bib-date { display:block } /* date = month + year */
.bibbox .bib-month { }
.bibbox .bib-year { }

.bib-highlight { background-color:#ffff00; } 

/* -------------------------------------------------------------- */
