global currMode SaveImgs
global avAcronyms avNames Fnames
global Params Dirs Data

%currMode.THRs=[10 2 1]/100;
currMode.THRs=[.5 .3 .1];
currMode.qnt2qlD=0;
currMode.CTT=[1:8; 1 1 1 1 2 2 2 2];%AP8
currMode.MDF={[1 3],1:3,4:6};

Params.HEG=.1;
Params.ING=3;
Params.MINCONF=3;
Params.FV=3;

disp('CONFIG');

SaveImgs=0;
ASVon=0;

avNames={'red';'green';'blue';'yellow';'compact';'elongated'};
avAcronyms=['Rd';'Gr';'Bl';'Yl';'Co';'El'];

%Dirs.cogLearn='./';
Dirs.images=[Dirs.cogLearn 'files/images/'];
Dirs.models=[Dirs.cogLearn 'files/models/'];
Dirs.asv=[Dirs.cogLearn 'files/asv/'];


Dirs.data=[Dirs.cogLearn 'sim/data/objects_newvis/'];
Data.numImgs= 876 ; %296;
Data.imgFormat='.bmp';
Data.ptsName='pts';
Data.ptsFormat='.txt';
Data.numDigit=4;
 
Dirs.cogLearn='D:\Work\Matlab\CogX\DK_code\';
avNames={'red';'green';'blue';'yellow';'black'; 'white'; 'orange'; 'pink'; 'compact';'elongated'};
avAcronyms=['Rd';'Gr';'Bl';'Yl'; 'Bk'; 'Wh'; 'Or'; 'Pi';'Co';'El'];
currMode.CTT=[1:10;1 1 1 1 1 1 1 1 2 2]';
%currMode.MDF={1,2,3,4,5,6,7,8,[1 3],1:3,4:6};
%currMode.MDF={1,2,3,4,5,6,7,8,1:3,[1 3],4:6};
currMode.MDF={1,3,6,1:3,[1 3]};
currMode.numSingFeatures=6;
currMode.avNames = avNames ;
currMode.avAcronyms = avAcronyms ;
Params.FV=5;
Params.deterministic = 0 ; 



%Dirs.data=[Dirs.cogLearn 'Sim/data/objects/'];
%Data.numImgs=500;
%Data.imgFormat='.jpg';
%avNames={'red';'green';'blue';'yellow';'compact';'elongated'};
%avAcronyms=['Rd';'Gr';'Bl';'Yl';'Cm';'El'];
%currMode.CTT=[1:6;1 1 1 1 2 2]';
%currMode.MDF={1,2,3,4,5,6,7,8,1:3,[1 3],4:6};
%Params.FV=4;



% Dirs.data=[Dirs.cogLearn 'sim/data/newObjects/'];
% Data.numImgs=1114;
% Data.imgFormat='.bmp';
% Data.numDigit=4;
% avNames={'red';'green';'blue';'yellow';'black';'white';'orange';'pink';'compact';'elongated'};
% avAcronyms=['Rd';'Gr';'Bl';'Yl';'Bk';'Wh';'Or';'Pn';'Cm';'El'];
% currMode.CTT=[1:10;1 1 1 1 1 1 1 1 2 2]';
% %currMode.MDF={1,2,3,4,5,6,7,8,[1 3],1:3,4:6};
% %currMode.MDF={1,2,3,4,5,6,7,8,1:3,[1 3],4:6};
% currMode.MDF={1,2,3,4,5,6,7,8,1:3,[1 3]};
% Params.FV=4;
% 
