# Test config file for Place.SA
# Author: Andrzej Pronobis

[Common]
LabelFile = instantiations/place.sa/models/bcr/bcr.lbl

[Controller]
# What event should trigger sending DP_CMD_UPDATE
UpdatesSentOn = VP_READ

[DataProvider]
# Determines which data to grab
UseLaser = True
UseVision = True
UseOdometry = True
# Size of the scan/odometry queue in seconds and no. of elements
QueueTimeWindow = 5.0
QueueSize = 100
# Id of the camera from which we grab images
CameraId = 0
# Name of the VideoServer
VideoServerName = VideoServer
# Delay between image pulling and scan lookup
ScanDelay=150000

[DataSaver]
# Delay in us before new DP_CMD_UPDATE is sent.
UpdateDelay = 20000

[PeekabotClient]
RobotName = robot
ConnectionRetryDelay = 1000000
Port = 5050
Hostname = localhost
LoadScene = False
Scene = Robone.xml

[VisualProcessor]
# CRFH settings
CrfhDescriptors = Lxx(4,28)+Lxy(4,28)+Lyy(4,28)+Lxx(64,28)+Lxy(64,28)+Lyy(64,28)
CrfhSmallValueFiltering = False
CrfhFilteringThreshold = 0.0001
CrfhSkipBorderPixels = 15
# SVM
ModelFile = instantiations/place.sa/models/bcr/bcr.vmdl
SvmOaoAlg = 1
SvmOaaAlg = 1
SvmMeasure = 1
# Confidence estimation
ConfidenceThreshold = 1.1

[LaserProcessor]
# Feature extractor settings
FeatureConfigFile = instantiations/place.sa/laser_features.cfg
ScaleConfigFile = instantiations/place.sa/models/bcr/bcr.lscl
# SVM
ModelFile = instantiations/place.sa/models/bcr/bcr.lmdl
SvmOaoAlg = 1
SvmOaaAlg = 1
SvmMeasure = 1
# Confidence estimation
ConfidenceThreshold = 2.2

[CueIntegrator]
ScaleConfigFile = instantiations/place.sa/models/bcr/bcr.iscl
# SVM
ModelFile = instantiations/place.sa/models/bcr/bcr.imdl
SvmOaoAlg = 1
SvmOaaAlg = 1
SvmMeasure = 1
# Confidence estimation
ConfidenceThreshold = 5.0

[NodeLabeller]
# Confidence estimation
ConfidenceThreshold = 0.1
# Accumulation
PositionBinSize = 0.2
HeadingBinSize = 0.1
# Max. influence of prior (in cache bins)
MaxPriorOutputsCount = 30
# Only confident classifier outputs will be accumulated.
AccumulateOnlyConfident = True
# No. of traveled cache bins after which pose information is forgotten (<0 means "never").
CachePoseDecay = 30

