#                     Carnegie Mellon University and                    
#                     Alan W Black and Kevin A. Lenzo                     
#                        Copyright (c) 1998-2003                        
#                          All Rights Reserved.                         
#                                                                            
#   Permission is hereby granted, free of charge, to use and distribute 
#   this software and its documentation without restriction, including  
#   without limitation the rights to use, copy, modify, merge, publish, 
#   distribute, sublicense, and/or sell copies of this work, and to     
#   permit persons to whom this work is furnished to do so, subject to  
#   the following conditions:                                           
#    1. The code must retain the above copyright notice, this list of   
#       conditions and the following disclaimer.                        
#    2. Any modifications must be clearly marked as such.               
#    3. Original authors' names are not deleted.                        
#    4. The authors' names are not used to endorse or promote products  
#       derived from this software without specific prior written       
#       permission.                                                     
#                                                                       
#   CARNEGIE MELLON UNIVERSITY AND THE CONTRIBUTORS TO THIS WORK        
#   DISCLAIM ALL WARRANTIES WITH REGARD TO THIS SOFTWARE, INCLUDING     
#   ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS, IN NO EVENT  
#   SHALL CARNEGIE MELLON UNIVERSITY NOR THE CONTRIBUTORS BE LIABLE     
#   FOR ANY SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES   
#   WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN  
#   AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION,         
#   ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF      
#   THIS SOFTWARE.                                              

name = english-jmk-arctic

# Declare "group names" as component that other components can require.
# These correspond to abstract "groups" of which this component is an instance.
provides = \
    english-voice

english-voice.version = 3.5.0
voice.version = 3.5.0

# List the dependencies, as a whitespace-separated list.
# For each required component, an optional minimum version and an optional
# download url can be given.
# We can require a component by name or by an abstract "group name" 
# as listed under the "provides" element.
requires = \
    english \
    marybase
    
requires.marybase.version = 3.1.0
requires.english.version = 3.1.0
requires.english.download = http://mary.dfki.de/download/mary-install-3.x.x.jar

####################################################################
####################### Module settings  ###########################
####################################################################
# For keys ending in ".list", values will be appended across config files,
# so that .list keys can occur in several config files.
# For all other keys, values will be copied to the global config, so
# keys should be unique across config files.

# If this setting is not present, a default value of 0 is assumed.
voice.jmk-arctic.wants.to.be.default = 20

# Add your voice to the list of Unit Selection Voices
unitselection.voices.list = \
        jmk-arctic

# Set your voice specifications
voice.jmk-arctic.gender = male
voice.jmk-arctic.locale = en_US
voice.jmk-arctic.domain = general
voice.jmk-arctic.samplingRate = 16000


# Only set the lexicon for English
voice.jmk-arctic.lexiconClass = com.sun.speech.freetts.en.us.CMULexicon
voice.jmk-arctic.lexicon = cmudict04

# Language-specific feature processor manager:
voice.jmk-arctic.featureProcessorsClass = de.dfki.lt.mary.unitselection.featureprocessors.en.FeatureProcessorManager

# Java classes to use for the various unit selection components
voice.jmk-arctic.databaseClass            = de.dfki.lt.mary.unitselection.DiphoneUnitDatabase
voice.jmk-arctic.selectorClass            = de.dfki.lt.mary.unitselection.DiphoneUnitSelector
voice.jmk-arctic.concatenatorClass        = de.dfki.lt.mary.unitselection.concat.OverlapUnitConcatenator
voice.jmk-arctic.targetCostClass          = de.dfki.lt.mary.unitselection.DiphoneFFRTargetCostFunction
voice.jmk-arctic.joinCostClass            = de.dfki.lt.mary.unitselection.JoinCostFeatures
voice.jmk-arctic.unitReaderClass          = de.dfki.lt.mary.unitselection.UnitFileReader
voice.jmk-arctic.cartReaderClass          = de.dfki.lt.mary.unitselection.cart.ClassificationTree
voice.jmk-arctic.audioTimelineReaderClass = de.dfki.lt.mary.unitselection.TimelineReader

# Voice-specific files
voice.jmk-arctic.featureFile       = MARY_BASE/lib/voices/jmk-arctic/halfphoneFeatures_ac.mry
voice.jmk-arctic.targetCostWeights = MARY_BASE/lib/voices/jmk-arctic/halfphoneUnitFeatureDefinition_ac.txt
voice.jmk-arctic.joinCostFile      = MARY_BASE/lib/voices/jmk-arctic/joinCostFeatures.mry
voice.jmk-arctic.joinCostWeights   = MARY_BASE/lib/voices/jmk-arctic/joinCostWeights.txt
voice.jmk-arctic.unitsFile         = MARY_BASE/lib/voices/jmk-arctic/halfphoneUnits.mry
voice.jmk-arctic.cartFile          = MARY_BASE/lib/voices/jmk-arctic/prunedcart.mry
voice.jmk-arctic.audioTimelineFile = MARY_BASE/lib/voices/jmk-arctic/timeline_waveforms.mry
voice.jmk-arctic.basenameTimeline  = MARY_BASE/lib/voices/jmk-arctic/timeline_basenames.mry

# Phoneme conversion:
voice.jmk-arctic.sampamapfile = MARY_BASE/lib/modules/en/synthesis/sampa2mrpa_en.map

# Leaf size for pre-selection
voice.jmk-arctic.cart.backtrace = 100

# Relative weight of the target cost function vs. the join cost function
voice.jmk-arctic.viterbi.wTargetCosts = 0.98

# Voice-specific prosody CARTs:
voice.jmk-arctic.duration.cart              = MARY_BASE/lib/voices/jmk-arctic/dur.tree
voice.jmk-arctic.duration.featuredefinition = MARY_BASE/lib/voices/jmk-arctic/phoneUnitFeatureDefinition.txt
voice.jmk-arctic.f0.cart.left               = MARY_BASE/lib/voices/jmk-arctic/f0.left.tree
voice.jmk-arctic.f0.cart.mid                = MARY_BASE/lib/voices/jmk-arctic/f0.mid.tree
voice.jmk-arctic.f0.cart.right              = MARY_BASE/lib/voices/jmk-arctic/f0.right.tree
voice.jmk-arctic.f0.featuredefinition       = MARY_BASE/lib/voices/jmk-arctic/phoneUnitFeatureDefinition.txt
