# player configuration file for the cogx robot simulated in gazebo
# Updated model files for gazebo 1.0.0
# Michael Zillich
# May 2012

driver
(
  name "gazebo"
  provides ["simulation:0"]
  plugin "libgazebo_player"
  world_name "simple_world"
)

driver
(
  name "gazebo"
  provides ["position2d:0"]
  # This name must match the name of a model in the world given above
  model_name "robot"
)

driver
(
  name "gazebo"
  provides ["laser:0"]

  # This name must match a scoped name of a sensor in the world given above
  # The format of a scoped name is "model_name::link_name::sensor_name"
  laser_name "robot::hokuyo__link::laser"
)

driver
(
  name "gazebo"
  provides ["ptz:0"]
  # This name must match the name of a model in the world given above
  model_name "robot"
  # This name must match the name of the joints in the above model, where
  # the joint name includes leading sub-model names, e.g.
  # robot->ptu->pan_joint gives model name "robot" and joint name "ptu__pan_joint"
  pan_joint_name "ptu__pan_joint"
  tilt_joint_name "ptu__tilt_joint"
)

driver
(
  name "gazebo"
  provides ["camera:0"]

  # This name must match a scoped name of a sensor in the world given above
  # The format of a scoped name is "model_name::link_name::sensor_name", where
  # link name includes leading sub-model names, e.g. with actual link name = "body"
  # robot->ptu->camera0->body gives model name "robot", link name
  # "ptu__camera0__body" leading to full scoped name
  # "robot::ptu__camera0__body::camera" 
  camera_name "robot::ptu__camera0__body::camera"
)

driver
(
  name "gazebo"
  provides ["camera:1"]

  camera_name "robot::ptu__camera1__body::camera"
)

#driver
#(
#  name "gazebo"
#  provides ["actarray:0"]
#  gz_id "robot::arm::generic_actarray_iface_0"
#)



