% vim: set ft=matlab sw=3 ts=8 et: %
% cogLearn.config - config file for integrated system

global Params Dirs Data Coma

disp('Config George');

% Cast or Matlab demo
Settings.CAST=1;

% How to display
Settings.Mwindows=0;
Settings.Disp.GL=0;
Settings.Disp.GR=1;
Settings.Disp.GD=0;
Settings.Disp.TL=1;
Settings.Disp.TR=1;
Settings.Disp.TD=1;
Settings.Disp.printDpi=72; % This affects the size of PNG images
Settings.SaveImgs=0;
Settings.ASVon=0;
Settings.initModel='';
Settings.initModel='mC1.mat';

% Location of directories
% Note: CAST usually starts in ${COGX_ROOT}
Dirs.cogLearn='./subarchitectures/vision.sa/config/test-vislearner/';
Dirs.asv=[Dirs.cogLearn 'files/asv/'];
Dirs.disp=[Dirs.cogLearn 'files/disp/'];
Dirs.images=[Dirs.cogLearn 'files/images/'];
Dirs.models=[Dirs.cogLearn 'files/models/'];

% HTML display files for DisplayServer.
Disp.mGL=[Dirs.disp 'mGL.png'];
Disp.mGR=[Dirs.disp 'mGR.png'];
Disp.mGD=[Dirs.disp 'mGD.png'];
Disp.mTL=[Dirs.disp 'mTL.html'];
Disp.mTR=[Dirs.disp 'mTR.html'];
Disp.mTD=[Dirs.disp 'mTD.html'];

% Recognition thresholds
Params.THRs=[.7 .5 .1];

% Conceptual mapping data
Coma.avNames={'red';'green';'blue';'yellow';'black'; 'white'; 'orange'; 'pink'; 'compact';'elongated'};
Coma.Cnames=['Rd';'Gr';'Bl';'Yl'; 'Bk'; 'Wh'; 'Or'; 'Pi';'Co';'El'];
Coma.SCC=[1:10;1 1 1 1 1 1 1 1 2 2]';

