global currMode SaveImgs
global avAcronyms avNames Fnames
global Params Dirs Data

currMode.THRs=[10 2 1]/100;
currMode.qnt2qlD=0;

Params.HEG=.1;
Params.ING=5;
Params.MINCONF=3;
Params.FV=3;

SaveImgs=0;
ASVon=0;

avNames={'red';'green';'blue';'yellow';'square';'triangular';'circular'};
avAcronyms=['Rd';'Gr';'Bl';'Yl';'Sq';'Tr';'Cr'];

%Dirs.cogLearn='./';
Dirs.images=[Dirs.cogLearn 'images/'];
Dirs.models=[Dirs.cogLearn 'models/'];
Dirs.asv=[Dirs.cogLearn 'asv/'];

Dirs.data=[Dirs.cogLearn 'data/shapes/'];
Data.numImgs=300;

Dirs.data=[Dirs.cogLearn 'data/shapesBHAM1/'];
Data.numImgs=41;%199;
Data.imgFormat='.png';

Dirs.data=[Dirs.cogLearn 'data/objects2/'];
Data.numImgs=296;
Data.imgFormat='.png';
avNames={'red';'green';'blue';'yellow';'square';'triangular';'circular';'elongated'};
avAcronyms=['Rd';'Gr';'Bl';'Yl';'Sq';'Tr';'Cr';'El'];
currMode.CTT=[1:8;1 1 1 1 2 2 2 2]';
Params.FV=4;


