global currMode SaveImgs
global avAcronyms avNames Fnames
global Params Dirs Data

Params.HEG=.1;
Params.ING=2;
Params.MINCONF=3;
Params.FV=3;

SaveImgs=0;
ASVon=0;

Dirs.cogLearn='./subarchitectures/vision.sa/config/test-vislearner/';
Dirs.images=[Dirs.cogLearn 'images/'];
Dirs.models=[Dirs.cogLearn 'models/'];
Dirs.asv=[Dirs.cogLearn 'asv/'];

Data.StartupWithModel=[Dirs.models 'mAVs5.mat'];
avNames={'red';'green';'blue';'yellow';'black'; 'white'; 'orange'; 'pink'; 'compact';'elongated'};
avAcronyms=['Rd';'Gr';'Bl';'Yl'; 'Bk'; 'Wh'; 'Or'; 'Pi';'Co';'El'];
currMode.THRs=[.5 .3 .1];
currMode.qnt2qlD=0;
currMode.CTT=[1:10;1 1 1 1 1 1 1 1 2 2]';
currMode.MDF={1,3,6,1:3,[1 3]};
currMode.numSingFeatures=6;
currMode.avNames = avNames ;
currMode.avAcronyms = avAcronyms ;
Params.FV=5;

disp('test-vislearner/cogLearn.config read');
