%cogLearn.config - config file for integrated system

global Params Dirs Data Coma

disp('Config George');

%Cast or Matlab demo
Settings.CAST=1;

%How to display
Settings.Mwindows=0;
Settings.Disp.GL=1;
Settings.Disp.GR=1;
Settings.Disp.TL=1;
Settings.Disp.TR=1;
Settings.Disp.GD=1;
Settings.Disp.TD=1;
Settings.SaveImgs=0;
Settings.ASVon=0;
Settings.initModel='';

%Location of directories
Dirs.cogLearn='./subarchitectures/vision.sa/src/matlab';
Dirs.models = './subarchitectures/vision.sa/src/matlab';
Dirs.images='./imgs/';
Dirs.asv=[Dirs.cogLearn 'files/asv/'];
Dirs.disp=[Dirs.cogLearn 'files/disp/'];

%Recognition thresholds
Params.THRs=[.7 .5 .1];

%Conceptual mapping data
Coma.avNames={'red';'green';'blue';'yellow';'black'; 'white'; 'orange'; 'pink'; 'compact';'elongated'};
Coma.Cnames=['Rd';'Gr';'Bl';'Yl'; 'Bk'; 'Wh'; 'Or'; 'Pi';'Co';'El'];
Coma.SCC=[1:10;1 1 1 1 1 1 1 1 2 2]';

 
