global currMode SaveImgs
global avAcronyms avNames Fnames
global Params Dirs Data

%currMode.THRs=[10 2 1]/100;
currMode.THRs=[.5 .3 .1];
currMode.qnt2qlD=0;
currMode.CTT=[1:8; 1 1 1 1 2 2 2 2];%AP8
currMode.MDF={[1 3],1:3,4:6};

Params.HEG=.1;
Params.ING=3;
Params.MINCONF=3;
Params.FV=3;

SaveImgs=0;
ASVon=0;

avNames={'red';'green';'blue';'yellow';'square';'triangular';'circular'};
avAcronyms=['Rd';'Gr';'Bl';'Yl';'Sq';'Tr';'Cr'];

%Dirs.cogLearn='./';
Dirs.images=[Dirs.cogLearn 'files/images/'];
Dirs.models=[Dirs.cogLearn 'files/models/'];
Dirs.asv=[Dirs.cogLearn 'files/asv/'];

Dirs.data=[Dirs.cogLearn 'Sim/data/shapes/'];
Data.numImgs=300;

Dirs.data=[Dirs.cogLearn 'Sim/data/shapesBHAM1/'];
Data.numImgs=41;%199;
Data.imgFormat='.png';

Dirs.data=[Dirs.cogLearn 'Sim/data/imagesBHAM/'];
Data.numImgs=56;%199;

Dirs.data=[Dirs.cogLearn 'Sim/data/objects2/'];
Data.numImgs=296;
Data.imgFormat='.png';
avNames={'red';'green';'blue';'yellow';'square';'triangular';'circular';'elongated'};
avAcronyms=['Rd';'Gr';'Bl';'Yl';'Sq';'Tr';'Cr';'El'];
currMode.CTT=[1:8;1 1 1 1 2 2 2 2]';
%currMode.MDF={1,2,3,4,5,6,7,8,[1 3],1:3,4:6};
%currMode.MDF={1,2,3,4,5,6,7,8,1:3,[1 3],4:6};
currMode.MDF={1,2,3,4,5,6,7,8,1:3,[1 3]};
Params.FV=4;


% Dirs.data=[Dirs.cogLearn 'Sim/data/objects/'];
% Data.numImgs=500;
% Data.imgFormat='.jpg';
% avNames={'red';'green';'blue';'yellow';'compact';'elongated'};
% avAcronyms=['Rd';'Gr';'Bl';'Yl';'Cm';'El'];
% currMode.CTT=[1:6;1 1 1 1 2 2]';
% currMode.MDF={1,2,3,4,5,6,7,8,1:3,[1 3],4:6};
% Params.FV=4;

