%cogLearn.config - config file for Matlab demo

global Params Dirs Data Coma Settings

disp('Config Matlab demo');

%Cast or Matlab demo
Settings.CAST=0;

%Root directory
Dirs.cogLearn=[pwd '/'];

%How to display
Settings.Mwindows=0;
Settings.Disp.GL=1;
Settings.Disp.GR=1;
Settings.Disp.TL=1;
Settings.Disp.TR=1;
Settings.Disp.GD=1;
Settings.Disp.TD=1;
Settings.SaveImgs=0;
Settings.ASVon=0;
%Settings.initModel='mC1.mat';

%Recognition thresholds
Params.THRs=[.7 .5 .1];

%Conceptual mapping data
Coma.avNames={'red';'green';'blue';'yellow';'black'; 'white'; 'orange'; 'pink'; 'compact';'elongated'};
Coma.Cnames=['Rd';'Gr';'Bl';'Yl'; 'Bk'; 'Wh'; 'Or'; 'Pi';'Co';'El'];
Coma.SCC=[1:10;1 1 1 1 1 1 1 1 2 2]';

%Data
Dirs.data=[Dirs.cogLearn 'sim/data/objects_newvis/'];
Data.numImgs= 876 ; %296;
Data.imgFormat='.bmp';
Data.ptsName='pts';
Data.ptsFormat='.txt';
Data.numDigit=4;
 

