%cogLearn.config - config file for Matlab demo

global Params Dirs Data Coma Settings

disp('Config Matlab demo');

%Cast or Matlab demo
Settings.CAST=0;

%Root directory
Dirs.cogLearn=[pwd '/'];

%How to display
Settings.Mwindows=1;
Settings.Disp.GL=1;
Settings.Disp.GR=1;
Settings.Disp.TL=1;
Settings.Disp.TR=1;
Settings.Disp.GD=1;
Settings.Disp.TD=1;
Settings.SaveImgs=0;
Settings.ASVon=0;
%Settings.initModel='mC1.mat';

%Recognition thresholds
Params.THRs=[.7 .5 .1];

%Conceptual mapping data
Coma.avNames={'red';'green';'blue';'yellow';'black'; 'white'; 'orange'; 'pink'; 'compact';'elongated'};
Coma.Cnames=['Rd';'Gr';'Bl';'Yl'; 'Bk'; 'Wh'; 'Or'; 'Pi';'Co';'El'];
Coma.SCC=[1:10;1 1 1 1 1 1 1 1 2 2]';

%Old data
Dirs.data=[Dirs.cogLearn 'sim/data/objects_newvis/'];
Data.numImgs= 876 ; %296;
Data.imgFormat='.bmp';
Data.ptsName='pts';
Data.ptsFormat='.txt';
Data.numDigit=4;
 
%New data
Dirs.data = ['D:\Work\Matlab\CogX\databaseManeger2010\ordinary_database\'] ;
% Dirs.data = [Dirs.cogLearn 'sim/data/ordinary_database/'];
% Dirs.data ='C:\danijels\Matlab\data\ordinary_database\';
Data.imgFormat = '.png' ;
listing = dir([Dirs.data,'img*',Data.imgFormat]) ;
Data.numImgs = length(listing) ;
Data.ptsName='pts';
Data.ptsFormat='.txt';
Data.numDigit=4;

% %Dirs.data=['D:\Work\Matlab\CogX\databaseManeger2010\out_database\']; %
% Dirs.data=[Dirs.cogLearn 'sim/data/new_objects/'];
% Data.numImgs=30;
% Data.imgFormat='.png';
% Data.ptsName='pts';
% Data.imgName='img';
% Data.mskName='msk';
% Data.ptsFormat='.txt';
% Data.numDigit=4;
% Coma.avNames={ 'compact';'elongated';'cylindrical';'spherical';'boxy';'black';'white';'yellow';'orange';'brown';'red';'green';'blue';'violet';'pink';'bright';'dark'};
% Coma.Cnames=['Cm';'El';'Cl';'Sp';'Bo'; 'Bk'; 'Wh'; 'Yl';'Or';'Br';'Rd';'Gr';'Bl';'Vi';'Pi';'Bg';'Dk'];
% Coma.SCC=[1:17; 1 1 2 2 2 3 3 3 3 3 3 3 3 3 3 4 4]';

